@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* font-family: 'Courier Prime', monospace; */ 
/* font-family: 'Poppins', sans-serif; */ 

* {
    position: relative;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    background: rgb(130,130,130);
    background: linear-gradient(180deg, rgb(78, 78, 78) 0%, rgba(47,47,47,1) 100%);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    cursor: default;
}


.home {
    color: wheat;
    font-family: 'Courier Prime', monospace;
    font-weight: 100;
    font-size: 12vw;
    float: left;
    margin-left: 3vw;
    transition: 0.2s;
}

.home:hover {
    cursor: pointer;
    text-shadow: 2px 7px 4px #000000;
}

.menu-bar {
    display: none;
    top: 0;
    margin-top: 2vw;
    right: 3vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    z-index: 111111;
   
}

.menu-bar a {
    position: relative;
    display: none;
    font-family: 'Courier Prime', monospace;
    font-weight: 100;
    font-size: 3vw;
}

.menu-bar ul {
    list-style: none;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.menu-bar ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    letter-spacing: 2px;
    margin-right: 3vw;
    color: rgb(189, 189, 189);
    transition: 0.2s;
}

.menu-bar ul li a:hover {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    letter-spacing: 2px;
    margin-right: 3vw;
    color: rgb(228, 228, 228);
    cursor: pointer;
    text-shadow: 2px 7px 4px #000000;
}

.menu-bar ul:hover a {
    color: #747478;
}


.first-section {
    display: none;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.first-section h1 {
    z-index: 1;
    font-size: 17vw;
}

.first-section h2 {
    z-index: 1;
    position: relative;
    top: -15vw;
    font-weight: 300;
    font-size: 4vw;
    font-style: italic;
}

.first-images {
    position: absolute;
    z-index: -1;
    width: 2vw;
    opacity: 50%;
    transition: 0.2s;
    transition: transform 1s ease, top 1s ease;
}

.first-section:hover .i1 {
  
    transform: rotate(-70deg);
    right: 16vw;
    transition: transform 1s ease, top 1s ease;
}

.first-section:hover .i2 {
    transition: transform 1s ease, top 1s ease;
    transform: rotate(100deg);
}

.first-section:hover .i3 {
    transition: transform 1s ease, top 1s ease;
    transform: rotate(400deg);
}

.first-images .i1 {
    margin-top: -70vw;
    transform: rotate(-50deg);
    right: 16vw;
    width: 60vw;
    transition: transform 1s ease, top 1s ease;
}

.first-images .i2 {
    margin-top: -55vw;
    left: 23vw;
    width: 60vw;
    transition: transform 1s ease, top 1s ease;
}

.first-images .i3 {
    margin-top: -35vw;
    width: 60vw;
    transition: transform 1s ease, top 1s ease;
}

.rolam-section {
    display: none;
    margin: 0;
    position: absolute;
    margin-top: 130vh;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.rolam-section h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 13vw;
}

.rolam-para {

    color: white;
    font-family: 'Poppins', sans-serif;
    width: 70vw;
    font-size: 5vw;
    letter-spacing: 2px;
    transition: all .1s ease-in;
    transition: 0.6s;
}

.rolam-para:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 1.5s infinite;
 
   
}

@-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
  }

.munkaim-section {
    display: none;
    margin: 0;
    position: absolute;
    margin-top: 190vh;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 2vw;
}

.munkaim-section p {
    top: -5vw;
    right: -19vw;
}

.contains {
    overflow: visible;
    display: flex;
    width: max-content;
}

.contains p {
    display: block;
    top: -5vw;

}

.contains h1 {
    text-align: right;
    color: wheat;
}

.contains img {
    left: -10vw;
    top: 2vw;
    max-width: 23vw;
    height: auto;
}


.form-div {
    display: none;
    margin: 0;
    position: absolute;
    margin-top: 235vh;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 2vw;
    
}

.form-div h1 {
    font-size: 3vw;
}

.munkaim-section h1 {
    font-size: 3vw;
}




.home .sec-text::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 00%;
    width: 0%;
    background-color: #2f2f2f;
    border-left: 1px solid #2f2f2f;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}


form {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

#name {
    background-color: #191919;
    width: 20vw;
    height: 3vw;
    top: 9vw;
    font-size: 1vw;
    text-align: center;
    border: none;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
    color: white;
}

#name:hover {
    box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75);
    -webkit-box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75);
    -moz-box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75);   
    width: 22vw;
}

#name:focus {
    box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75);
    -webkit-box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75);
    -moz-box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75); 
    width: 22vw;
}

#email {
    background-color: #191919;
    width: 20vw;
    height: 3vw;
    top: 10vw;
    font-size: 1vw;
    text-align: center;
    border: none;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
    color: white;
}

#email:hover {
    box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75);
    -webkit-box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75);
    -moz-box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75); 
    width: 22vw;
}

#email:focus {
    box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75);
    -webkit-box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75);
    -moz-box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75); 
    width: 22vw;
}

#message {
    background-color: #191919;
    width: 20vw;
    height: 5vw;
    top: 11vw;
    font-size: 1vw;
    text-align: center;
    border: none;
    resize: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
}

#message:hover {
    box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75);
    -webkit-box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75);
    -moz-box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75); 
    width: 22vw;
}

#message:focus {
    box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75);
    -webkit-box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75);
    -moz-box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75); 
    width: 22vw;
}

form button {
    width: 10vw;
    height: 2vw;
    top: 13vw;
    font-size: 1vw;
    text-align: center;
    background-color: #191919;
    border: none;
    color: white;
    transition: 0.3s;
}

form button:hover {
    box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75);
    -webkit-box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75);
    -moz-box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75); 
    cursor: pointer;
}


.ah:hover {
    cursor: pointer;
}

.cta {
    border: none;
    background: none;
    top: -3vw;
    right: -24vw;
  }

  .cta:hover {
    cursor: pointer;
  }
  
  .cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 1vw;
    padding-right: 15px;
    text-transform: uppercase;
  }
  
  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
    filter: invert(100%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(300%) contrast(119%);
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active svg {
    transform: scale(0.9);
  }
  
  .hover-underline-animation {
    position: relative;
    color: wheat;
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: wheat;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.footer {
    display: none;
    height: 10vw;
    margin: 0;
    position: absolute;
    top: 150vw;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.footer p {
    bottom: -8vw;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(44, 44, 44); 
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(201, 179, 130); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(170, 155, 127); 
  }

  .thanks {
    text-align: center;
    color: wheat;
    font-family: 'Poppins', sans-serif;
    font-size: 10vw;
    top: 0vw;
}

.thx {
    text-align: center;
    color: rgb(206, 206, 206);
    font-family: 'Poppins', sans-serif;
    font-size: 4vw;
    top: -7vw;
}

.mobile-view {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.button {
margin: 0;
background: transparent;
padding: 0;
border: none;
}

.button {
--border-right: 6px;
--text-stroke-color: rgba(255,255,255,0.6);
--animation-color: wheat;
--fs-size: 2em;
letter-spacing: 3px;
text-decoration: none;
font-size: var(--fs-size);
font-family: 'Poppins', sans-serif;
position: relative;
text-transform: uppercase;
color: transparent;
-webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
position: absolute;
box-sizing: border-box;
content: attr(data-text);
color: var(--animation-color);
width: 0%;
inset: 0;
border-right: var(--border-right) solid var(--animation-color);
overflow: hidden;
transition: 0.5s;
-webkit-text-stroke: 1px var(--animation-color);
cursor: pointer;
}

.button:hover .hover-text {
width: 100%;
filter: drop-shadow(0 0 23px var(--animation-color))
}

  @media (min-width: 1200px) {

    .mobile-view {
        display: none;
    }

    * {
        position: relative;
        scroll-behavior: smooth;
        text-decoration: none;
    }
    
    body {
        background: rgb(130,130,130);
        background: linear-gradient(180deg, rgb(78, 78, 78) 0%, rgba(47,47,47,1) 100%);
        background-repeat: no-repeat;
        background-size: auto;
        background-attachment: fixed;
        cursor: default;
    }
    
    
    .home {
        color: wheat;
        font-family: 'Courier Prime', monospace;
        font-weight: 100;
        font-size: 1.5vw;
        float: left;
       margin-left: 3vw;
       transition: 0.2s;
    }
    
    .home:hover {
        cursor: pointer;
        text-shadow: 2px 7px 4px #000000;
    }
    
    .menu-bar {
        
        top: 0;
        margin-top: 2vw;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.5s;
        z-index: 111111;
       
    }
    
    .menu-bar a {
        position: relative;
        display: flex;
        font-family: 'Courier Prime', monospace;
        font-weight: 100;
        font-size: 1.2vw;
    }
    
    .menu-bar ul {
        list-style: none;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }
    
    .menu-bar ul li a {
        position: relative;
        margin: 0 15px;
        text-decoration: none;
        letter-spacing: 2px;
        margin-right: 3vw;
        color: rgb(189, 189, 189);
        transition: 0.2s;
    }
    
    .menu-bar ul li a:hover {
        position: relative;
        margin: 0 15px;
        text-decoration: none;
        letter-spacing: 2px;
        margin-right: 3vw;
        color: rgb(228, 228, 228);
        cursor: pointer;
        text-shadow: 2px 7px 4px #000000;
    }
    
    .menu-bar ul:hover a {
        color: #747478;
    }
    
    
    .first-section {
        display: block;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        font-family: 'Poppins', sans-serif;
    }
    
    .first-section h1 {
        z-index: 1;
        font-size: 10vw;
    }
    
    .first-section h2 {
        z-index: 1;
        position: relative;
        top: -9vw;
        font-weight: 300;
        font-size: 2vw;
        font-style: italic;
    }
    
    .first-images {
        position: absolute;
        z-index: -1;
        opacity: 50%;
        transition: 0.2s;
        transition: transform 1s ease, top 1s ease;
    }
    
    .first-section:hover .i1 {
        margin-top: -30vw;
        transform: rotate(-70deg);
        right: 16vw;
        transition: transform 1s ease, top 1s ease;
    }
    
    .first-section:hover .i2 {
        transition: transform 1s ease, top 1s ease;
        transform: rotate(100deg);
    }
    
    .first-section:hover .i3 {
        transition: transform 1s ease, top 1s ease;
        transform: rotate(400deg);
    }
    
    .first-images .i1 {
        margin-top: -30vw;
        transform: rotate(-50deg);
        right: 16vw;
        width: 1500%;
        max-width: 60vw;
        height: auto;
        transition: transform 1s ease, top 1s ease;
    }
    
    .first-images .i2 {
        margin-top: -35vw;
        left: 13vw;
        width:  1500%;
        max-width: 60vw;
        height: auto;
        transition: transform 1s ease, top 1s ease;
    }
    
    .first-images .i3 {
        margin-top: -15vw;
        width: 1500%;
        max-width: 60vw;
        height: auto;
        transition: transform 1s ease, top 1s ease;
    }
    
    .rolam-section {
        display: block;
        margin: 0;
        position: absolute;
        margin-top: 130vh;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    .rolam-section h1 {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 3vw;
    }
    
    .rolam-para {
    
        color: white;
        font-family: 'Poppins', sans-serif;
        width: 50vw;
        font-size: 1.6vw;
        letter-spacing: 2px;
        transition: all .1s ease-in;
        transition: 0.6s;
    }
    
    .rolam-para:hover {
        -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
        -webkit-mask-size: 200%;
        animation: shine 1.5s infinite;
        letter-spacing: 1px;
       
    }
    
    @-webkit-keyframes shine {
        from {
          -webkit-mask-position: 150%;
        }
        
        to {
          -webkit-mask-position: -50%;
        }
      }
    
    .munkaim-section {
        display: block;
        margin: 0;
        position: absolute;
        margin-top: 190vh;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-family: 'Poppins', sans-serif;
        padding: 2vw;
    }
    
    .munkaim-section p {
        top: 16vw;
        right: -1vw;
        position: fixed;
    }
    
    .contains {
        overflow: visible;
        display: flex;
        width: max-content;
    }
    
    .contains p {
        display: block;
        top: 0vw;
    
    }
    
    .contains h1 {
        text-align: right;
        color: wheat;
        right: -3vw;
    }
    
    .contains img {
        left: -10vw;
        top: 2vw;
    }
    
    
    .form-div {
        display: block;
        margin: 0;
        position: absolute;
        margin-top: 235vh;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        font-family: 'Poppins', sans-serif;
        padding: 2vw;
        
    }
    
    .form-div h1 {
        font-size: 3vw;
    }
    
    .munkaim-section h1 {
        font-size: 3vw;
    }
    
    
    
    
    .home .sec-text::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 00%;
        width: 0%;
        background-color: #2f2f2f;
        border-left: 1px solid #2f2f2f;
        animation: animate 4s steps(12) infinite;
    }
    @keyframes animate{
        40%, 60%{
            left: calc(100% + 4px);
        }
        100%{
            left: 0%;
        }
    }
    
    
    form {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    
    }
    
    #name {
        background-color: #191919;
        width: 20vw;
        height: 3vw;
        top: 9vw;
        font-size: 1vw;
        text-align: center;
        border: none;
        font-family: 'Poppins', sans-serif;
        transition: 0.3s;
        color: white;
    }
    
    #name:hover {
        box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75);
        -webkit-box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75);
        -moz-box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75);   
        width: 22vw;
    }
    
    #name:focus {
        box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75);
        -webkit-box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75);
        -moz-box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75); 
        width: 22vw;
    }
    
    #email {
        background-color: #191919;
        width: 20vw;
        height: 3vw;
        top: 10vw;
        font-size: 1vw;
        text-align: center;
        border: none;
        font-family: 'Poppins', sans-serif;
        transition: 0.3s;
        color: white;
    }
    
    #email:hover {
        box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75);
        -webkit-box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75);
        -moz-box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75); 
        width: 22vw;
    }
    
    #email:focus {
        box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75);
        -webkit-box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75);
        -moz-box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75); 
        width: 22vw;
    }
    
    #message {
        background-color: #191919;
        width: 20vw;
        height: 5vw;
        top: 11vw;
        font-size: 1vw;
        text-align: center;
        border: none;
        resize: none;
        color: white;
        font-family: 'Poppins', sans-serif;
        transition: 0.3s;
    }
    
    #message:hover {
        box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75);
        -webkit-box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75);
        -moz-box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75); 
        width: 22vw;
    }
    
    #message:focus {
        box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75);
        -webkit-box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75);
        -moz-box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75); 
        width: 22vw;
    }
    
    form button {
        width: 10vw;
        height: 2vw;
        top: 13vw;
        font-size: 1vw;
        text-align: center;
        background-color: #191919;
        border: none;
        color: white;
        transition: 0.3s;
    }
    
    form button:hover {
        box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75);
        -webkit-box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75);
        -moz-box-shadow: 0px 0px 36px 0px rgba(211,171,112,0.75); 
        cursor: pointer;
    }
    
    
    .ah:hover {
        cursor: pointer;
    }
    
    .cta {
        border: none;
        background: none;
        top: 2vw;
        right: -24vw;
      }
    
      .cta:hover {
        cursor: pointer;
      }
      
      .cta span {
        padding-bottom: 7px;
        letter-spacing: 4px;
        font-size: 1vw;
        padding-right: 15px;
        text-transform: uppercase;
      }
      
      .cta svg {
        transform: translateX(-8px);
        transition: all 0.3s ease;
        filter: invert(100%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(300%) contrast(119%);
      }
      
      .cta:hover svg {
        transform: translateX(0);
      }
      
      .cta:active svg {
        transform: scale(0.9);
      }
      
      .hover-underline-animation {
        position: relative;
        color: wheat;
        padding-bottom: 20px;
      }
      
      .hover-underline-animation:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: wheat;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      
      .cta:hover .hover-underline-animation:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    
    .footer {
        display: block;
        height: 10vw;
        margin: 0;
        position: absolute;
        top: 150vw;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        font-family: 'Poppins', sans-serif;
    }
    .footer p {
        bottom: -8vw;
    }
    ::-webkit-scrollbar {
        width: 10px;
    }
    
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgb(44, 44, 44); 
        border-radius: 10px;
      }
    
      ::-webkit-scrollbar-thumb {
        background: rgb(201, 179, 130); 
        border-radius: 10px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: rgb(170, 155, 127); 
      }
  }
